$selector : '.b-breadcrumbs';

#{$selector} {
  padding-top: 24px;

  &__item {
    display: inline-block;
    position: relative;
    color: $grey-medium;
    font-size: rem(14);

    &:not(:last-child) {
      margin-right: 10px;
      &:after {
        content: '';
        border-style: solid;
        border-color: $grey-medium;
        border-width: 1px 1px 0 0;
        display: inline-block;
        height: 4px;
        width: 4px;
        line-height: 16px;
        transform: rotate(45deg);
        vertical-align: middle;
        margin-left: 10px;
        margin-top: -2px;
      }
    }

    &:hover {
      color: $green;
    }
  }
}