$selector : '.b-button-shadow';

#{$selector} {
  display: inline-block;
  height: 57px;
  font-size: rem(16);
  box-shadow: 0 10px 50px rgba(212, 188, 176, 0.8);
  border-radius: 5px;
  background-color: $white;
  font-family: $open-sans-bold;
  text-transform: uppercase;
  border: 0;
  outline: none;
  color: inherit;
  cursor: pointer;
  line-height: normal;
  overflow: visible;
  padding: 18px 47px;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:hover, &._active {
    background-image: linear-gradient(180deg, #ee6a1c 0%, #ed8e2a 100%);
    color: $white;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}